<section>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="product_single">
        <h1>Edit Product</h1>
        <%= form_tag "/products/#{@product.id}", method: :patch do %>
          <div>
            Name: <input type="text" name="name" value="<%= @product.name %>">
          </div>
          <div>
            Price: <input type="text" name="price" value="<%= @product.price %>">
          </div>
          <div>
            Image: <input type="text" name="image" value="<%= @product.images[0].url %>">
          </div>
          <div>
            Description: <input type="text" name="description" value="<%= @product.description %>">
          </div>
          <input type="submit" value="Update product">
        <% end %>
      </div>
    </div>
  </div>
</section>
