    <section>
    Here is the page counter: <%= session[:page_count] %>
      <div class="row">

        <% @products.each do |product| %>

          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= product.name %></h2>

               <p class="<%= product.sale_item_class %>"><%= product.sale_message %></p>

              <p>Price: <%= number_to_currency(product.price) %></p>
              <p>tax: <%= number_to_currency(product.tax) %></p>
              <p>total: <%= number_to_currency(product.total) %></p>
              <a href="/products/<%= product.id %>" title="View Product"><img src="<%= product.images[0].url %>" alt="<%= product.name %>" class="img-responsive product_single_image"></a>
              <p>Description: <%= product.description %></p>
            </div>
          </div>
        <% end %>

      </div>
    </section>

