  <section>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <p>Supplier: <%= @product.supplier.name %></p>
            <p>Price: <%= @product.price %></p>
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
            <p>Description: <%= @product.description %></p>
            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
